a {
  text-decoration: none;
}

.now_playing {
  clear: both;
  text-align: center;
}

.left-column {
  float: left;
}

.middle-column {
  margin: 0px;
  text-align: center;
}

.right-column {
  float: right;
}