
a {
  text-decoration: none;
}


.mama {
  padding-top: 80px;
  width: 100%;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

#bar {
  width: 80%;
  height: 45px;
  font-size: 18px;
}

input[id="search-button"] {
  width: 80px;
  height: 47px;
  background: #FF9900;
  color: white;
  box-shadow: 0 0 2px grey;
  border: 1px solid white;
  border-radius: 1px ; /* rounding edges!!! */
  font-size: 15px;
  font-style: sans-serif;
  cursor: pointer;

}


input[id="search-button"]:hover {
  background: #FF8000;
}


.right-column /* search results */ {
  
  border: 2px solid black;
 text-align: left;
  padding: 10px 0;
  height: 100%;
  font-size: 18px;
}

.left-column /* song list */ {
 border: 2px solid black;
 text-align: left;
  padding: 10px 0;
  height: 100%;
  
}

.list-play {
  overflow-y: scroll;
  margin-top: 5%;
  height: 95%;
}

#search-hide {
 border: 2px solid black;
 position: relative;
  width:70%;
  margin-left: 15%;
  margin-top: 5%;
  overflow: auto;
  height: 100%;
  min-height: 100%;
 background: white;
 cursor: pointer;
 font: 18px/1.5em sans-serif;
 float: right;
 display: inline-block;

}

/*.search-results {
  border: 2px solid green;
  width:80%;
  margin: 5%;
  overflow: auto;
  height: 100%;
  min-height: 100%;
}*/

#search {
  /*border: 2px solid red;*/
  height: 40px;
  width: 80%;
  margin: -35px auto;
}

.divimage-search-hide {
  border: 2px solid black;
  width:90%;
  margin: 5%;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  padding-right: 10px;
}
.list-search {
  overflow-y: scroll;
  margin-top: 5%;
  height: 95%;

}

#list {
  border: 2px solid black;
  width:80%;
  margin: 5%;
  overflow: auto;
  height: 100%;
  min-height: 100%;

}


* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#song_info {
  
  width: 100%;
  text-align: left;

  margin-left: 50%;
  font: 18px/1.5em sans-serif;
  padding-right: 9px;

}

.upvote {
 
  width: 15px;
  position: relative; 
  left: 5%;
  top: 80%;
  float: left;
  display: inline-block;
  margin-top: 15%;
  font-size: 25px;

}

.upvote-count {
  margin: 14% 1% 10% 13%;
  float: left;
  display: inline-block;
  font-size: 25px;
  font-family: futura;

}

#list a:link, #list a:visited {
  color: black;
  text-decoration: none;
}

#list a:active {
  color: red;
}

.upvote:hover {
  font-size: 28px;
}


.flatiron img {
  float: left;
  position: fixed;
  top: 3%;
  left: 4%;
  width: 15%;
}



.now_playing {
  
  text-align: center;
  font: 18px/1.5em sans-serif;
  font-size: 22px;
  width: 30%;
  margin: -50px auto;
  
}

#search-hide:hover {
  color: grey;
}


li
{
    list-style-type: none;
    border-radius: 2px;
    margin: 5px;
    padding: 2px;
    width: 66.666%;
}

.middle-column /* search bar and radio */{
  width: 40%;
  margin: 0 auto;
}

 .middle-column  img {
      width: 100%;
      height: auto;    
  }


  .left-container h2, .right-container h2 {
    font-family: sans-serif;
    margin: 0 0 0 20px;
    padding: 10px;
    line-height: 0;
    background: white;
    position: relative;
    top: 10px;
    display: inline;

  }


  .divimage {
   
    /*position: relative;
  margin-left: 20px;
  margin-top: 12px;
  float: left;
  border: 2px solid pink;
  width: 71px;
  height: 71px;
  display: inline-block;*/
  /*border: 2px solid pink;*/
   width: 15px;
  position: relative; 
  left: 5%;
  top: 80%;
  float: left;
  display: inline-block;
  margin-top: 7%;
  font-size: 25px;

  }



.left-container {
  width: 25%;
  position: fixed;
  bottom: 8%;
  left: 3%;
  height: 63.333%;
  text-align: left;
  /*border: 2px solid green;*/
}

.right-container {
  width: 25%;
  position: fixed;
  bottom: 8%;
  right: 3%;
  height: 63.333%;
  text-align: left;
}