<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Charlotte's Boombox</title>
  <link rel="stylesheet" href="/css/style.css">
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>


<%= yield %>


</body>
</html>